.card {
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 18px 15px 0 15px;
  width: 70px;
  height: 40px;

  font-size: 22px;
  background-color: #999999;
  border: solid 1px black;
}

.red {
  background-color: #e55451;
  border: solid 1px #8c001a;
  color: #8c001a;
}
